<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ipPF1" value="192.168.30.30"/>
		<add key="ipPF2" value="192.168.100.60"/>
		<add key="ipPF3" value="192.168.100.20"/>
		<add key="ipPF4" value="192.168.30.40"/>
		<add key="path" value="D:\ChargingDiscover\Parametrization\SoP_Prueba"/>
	</appSettings>
</configuration>